<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Detection</title>
</head>
<body>
    <h1>Mask Detection</h1>

    <input type="file" id="imageInput">
    <button onclick="uploadImage()">Upload Image</button>

    <p id="predictionResult"></p>

    <script>
        function uploadImage() {
            const fileInput = document.getElementById('imageInput');
            const file = fileInput.files[0];

            if (!file) {
                alert("Please select an image.");
                return;
            }

            const formData = new FormData();
            formData.append("file", file);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictionResult').innerText = data.prediction;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }
    </script>
</body>
</html>
